<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">

<div th:fragment="bijihead">
<nav class="navbar navbar-inverse sticky" style="margin: 0;">
    <div class="container container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand active-menu" href="/index/biji">学习笔记</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="val/f28e0daf8c3440e3a6165e181b7917b7.html">图</a></li>
                <li><a href="val/0d1eeee316084082b5aa3c0dbd26bc97.html">部署</a></li>
                <li><a href="val/f05fe12cb8fd444aaa59fb7f747a3224.html">Demo</a></li>
                <li><a href="val/200700af5dfe459d957e04e93c813a0c.html">JVM</a></li>
                <li><a href="val/6eac12a548ea40c68ff64b1af307563a.html">Spring</a></li>
                <li><a href="val/93ba033c304b4874b905093808aa02fa.html">Linux</a></li>
                <li><a href="val/7ce1d1c1a1214c8ea813cd2b4f71adde.html">读书</a></li>
                <li><a href="val/0cea6c7c082043ab83ad87a9c5a48d9d.html">高质量代码</a></li>
                <li><a href="interview/93b0069472fd479393006c0e73043fc4.html">面试题</a></li>
            </ul>
        </div>
    </div>
</nav>