<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.monster.mapper.CommentMapper">

    <resultMap type="comment"        id="Comment">
        <id     property="id"           column="id"         />
        <result property="author"       column="author"     />
        <result property="comment"      column="comment"    />
        <result property="email"        column="email"      />
        <result property="url"          column="url"        />
        <result property="img"          column="img"        />
        <result property="cdate"        column="cdate"      />

    </resultMap>


    <!--获取总数量-->
    <select id="getCount" resultType="int">
        select count(1) from comment
    </select>
    <!--分页-->
    <select id="getPageAll" parameterType="com.abc.monster.util.PageUtil" resultType="comment">
        select * from comment ORDER BY cdate DESC LIMIT ${(pageindex-1)*pagesize},#{pagesize}
    </select>



    <select id="selectCom" resultMap="Comment">
        SELECT * FROM comment ORDER BY cdate DESC
    </select>

    <!--添加-->
    <insert id="addCom" parameterType="comment">
        insert into comment (author,comment,email,url,img,cdate)values
        (#{author},#{comment},#{email},#{url},#{img},#{cdate})
    </insert>

    <!--删除-->
    <delete id="delCom" parameterType="int" >
        delete from comment where id=#{id}
    </delete>
</mapper>